
body { background-color: lavender;}

* { font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}


.start-btn {
    position: absolute;
    top: 50%;
    left: 44%;

}

 button {
    background-color: rebeccapurple;
    color: white;
    font-size: medium;
    font-weight: 300;
    padding: 15px 15px 15px;
    border-radius: 20px 20px 20px;
    box-shadow: 10px 10px 10px grey;
    cursor: pointer;


}



button:hover {
    background-color: thistle;
    color: rebeccapurple;
    transition: all 0.3s ease;

   
}


 .quiz-rule {

   position: absolute;
   align-items: center;
   top: 32%;
   left: 25%;
   font-size: 25px;
   margin-top: 2px ;
   margin-left: 55px;
   
    
}

  
 .quiz-title {
     
     position: absolute;
     align-items: center;
     font-size: 50px;
     top: 20%;
     left: 39%;
      
      
      
}


.quiz-title span {

      font-size: 30px;

}

.timer {

     text-align: right;
     
 }

 .view-score {
     display: inline-block;
     margin-top: 25px;

 }
  
 .hide {
     display: none;
 }
 
 #quiz-area h2 { 
    
    position: absolute;
    top: 25%;
    left: 35%;


 }
 
  

  

   #quiz-area > button {
       padding: 5px 40px 5px ;
       margin: 10px;
       position: relative;
       display: list-item;
       left: 35%;
       top: 250px;
       
 }

